.container{
    visibility: hidden;
}

@media only screen and (max-width:425px) {
    .container{
        visibility: visible;
        display: flex;
        align-items: center;
        text-align: left;
        justify-content: space-between;
        padding: 10px;
        height: 100px;
        line-height: 10px;
        width: 92%;
        margin: 0 auto;
        border: 1px solid #707070;

    }
    .imgText{
        display: flex;
        gap: 8px;
        align-items: center;
    }
    .imgBox img{
        border-radius: 30px;
        width: 60px;
        height: 60px;
        margin-top: -8px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
}
.NameProBox{
    /* border: 1px solid red; */
    height: 100px;
    line-height: 0.5;
}
.NameProBox p{
    font-size: 13px;
    color: #707070;
    max-width: 100%;
}
.mutualConnection p {
    font-size: 12px;
    color: #707070;
}
.postDuration p{
    font-size: 13px;
    font-weight: bold;

}

    .acceptRejectBox{
        display: flex;
        gap: 20px;
        margin-top: -40px;
        /* font-size: 30px; */
    }
    .circle{
        border: 1px solid blue;
        width: 40px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}
    .circleX{
        border: 1px solid #707070;
        width: 40px;
        border-radius: 40%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 40%;
        -ms-border-radius: 40%;
        -o-border-radius: 40%;
}
}