.container{
    /*width: 100%;*/
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 0 2px 3px rgba(0,0,0,.2);
    position: absolute;
    width: 15%;
    min-width: fit-content;
    height: auto;
    padding: 0 10px 12px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.addIcon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px 0 8px;
}
.addIcon p{
    font-size: 12px;
    font-weight: bold;
}
.addFeedDiv{
    display: flex;
    margin-top: 100px;
    border: 1px solid red;
    width: 1000px;
    flex-direction: column;
}
.PremiumAddsCardContainer{
    margin: 390px auto;
    width:16%;
    position: absolute;
}