.parentContainer{
    width: 68%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin: -260px auto auto auto;
    /* border: 1px solid red; */
}
.addFeedDiv{
    border: 1px solid pink;
    width: 23%;
}
.container{
    border: 2px solid #707070;
    width: 50%;
    /* margin: -260px auto auto auto; */
    border-radius: 10px;
    /*box-shadow: 0 10 10 #000;
    */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.inputImage{
    /* position: relative; */
    /* border :1px solid red; */
    width: 90%;
    height: 60px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 15px;
}
.proImage{
    width: 40px;
    border-radius: 20px;
    
}
.inputImage textarea{
    width: 80%;
    height: 40px;
    border-radius: 30px;
    padding: 0 20px;
    
    margin: 0 auto;
    justify-content: center;
    display: flex;
    align-items: center;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}


.mediaEventArticle{
    /* position: absolute; */
    display: flex;
    justify-content: space-evenly;
}
.mediaIcon{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    
}

@media only screen and (max-width:425px) {

    .parentContainer{
        display: none;
    }
 .container{
    display: none;
 }

}