

.cardContainer{
    /* border: 1px solid red; */
    width: 32%;
    margin: 0 auto;
    /* margin-top: 80px; */
}


.imgBox img{
    width: 100%;
    /* height: 180px; */
}
.textBox{
    /* border: 1px solid red; */
    width: 90%;
    /* padding: 4px; */

    text-align: left;
}


@media only screen and (max-width:425px) {
    .cardContainer{
        /* border: 1px solid red; */
        margin-top: 10px;
        width: 100%;
    }
    img{
        /* height: 300px; */
        /* margin-top: 80px; */
    }
    .textBtn{
        display: flex;
        justify-content: space-between;
        padding: 8;
        width: 86%;
        margin: 10px auto;
    }
    .textBox{
        /* border: 1px solid red; */
        line-height: 1;
        text-align: left;
        margin-top: -10px;
    }
    .btnBox button{
        width: 55px;
        color: blue;
    
    }

}

