.container{
    width: 60%;
    margin: 0 auto;
    background-color: #f4f2ee;
}
.serachClear{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    background-color: #fff;
}
.btnDiv{
    /* position: absolute; */
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.btnDiv button{
    width: 100px;
}
.jobsRecom{
    /* border: 1px solid #707070; */
    border: 1px solid rgba(0,0,0,.2);
    width: 68%;
    margin: 0 auto;
    text-align: left;
    background-color: #fff;
}
.jobsRecom h3{
    padding: 0 6px;
}
.linkIcon{
    display: flex;
    justify-content: center;
    text-decoration: none;
    /* margin-top:0; */
}
.rescentSearchBoxContainer{
    width: 68%;
    margin: 18px auto;
    border: 1px solid rgba(0,0,0,.2);
    margin-bottom: 20px;
    background-color: #fff;
}

.researchBox{
    /* line-height: ; */
    margin-bottom:10px;
    /* border: 1px Solid black; */
    width: 90%;
}

@media only screen and (max-width:425px) {

    .container{
        width: 100%;
        margin: 0 auto;
    }
    .serachClear{
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
    }
    .btnDiv{
        /* position: absolute; */
        margin-top: 60px;
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    .btnDiv button{
        width: 100px;
    }
    .jobsRecom{
        border: 1px solid #707070;
        width: 98%;
        margin: 0 auto;
        text-align: left;
    }
    .rescentSearchBoxContainer{
        width: 95%;
        margin: 61px auto;
        border: 1px solid rgba(0, 0, 0, .2);
        margin-bottom: 20px;
        background-color: #fff;;
    }
    .jobsRecom h3{
        padding: 0 6px;
    }
    .linkIcon{
        display: flex;
        justify-content: center;
        text-decoration: none;
        /* margin-top:0; */
    }
}
