.container {
  margin: -250px auto;
  /* background-color: #fff; */
  /* border: 1px solid rgba(0,0,0,.2); */
  /* border: 1px solid red; */
  width: 75%;
  display: flex;
  gap: 20px;
}
.RecentCardContainer{
  position: relative;
  width: 100%;
  margin-top: -5rem;
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
}
.premiumCardDiv{
  /* position: absolute; */
  margin-top: -22rem;
  width: 100%;
}


.acceptRequest{
  /* text-align: left; */
  /* padding: 0 40px; */
  width: 90%;
  /* margin-right: 10px; */
  /* margin: 300px auto; */
  border: 1px solid rgba(0,0,0,.2);
  background-color: #fff;
  
}
.acceptRequest h6{
  text-align: left;
  padding: 0 0 0 100px;
}
.conntectSuggest {
  /* border: 1px solid red; */
  width: 88%;
  height: auto;
  margin: 0 auto 10px 10px;
  display: flex;
  flex-wrap: wrap;
  /* height: 58vh; */
  flex-direction: row;
  gap: 6px;
  /* margin-top: -10px; */
  /* flex: 1 1 50%; */
}
.NetworkCardsContainer{
  margin-top: 275px;
  /* background-color: #fff; */
}
.onlineEventsContainer {
    border: 1px solid rgba(0,0,0,.2);
  width: 90%;
  height: auto;
  margin: 20px auto 20px 10px;
  display: flex;
  flex-wrap: wrap;
  /* height: 58vh; */
  flex-direction: row;
  gap: 10px;
}
.TrendingPeopleContainer{
  
 
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 90%;
  margin: 0 auto 20px 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.TrendingCareerContainer{
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 90%;
  margin: 0 auto 20px 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

@media only screen and (max-width: 425px) {
  .container {
   
    /* border: 1px solid red; */
    width: 94%;
    margin: -50px auto;
  }
  .acceptRequest h6{
    text-align: left;
    padding: 0 0 0 12px;
  }
  .conntectSuggest {
    width: 100%;
    height: auto;
  }
  .RecentCardContainer{
    display: none;
    width: 100%;
    margin-top: -20rem;
    /* border: 1px solid red; */
  }
  .onlineEventsContainer {
    /* border: 1px solid black; */
    width: 98%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /* height: 58vh; */
    flex-direction: row;
    gap: 6px;
  }
  .TrendingPeopleContainer{
  
 
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .TrendingCareerContainer{
  
 
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .NetworkCardsContainer{
    margin-top: 0px;
    background-color: #fff;
  }
  
}
