.container {
  margin-top: -250px;
}
.recentsCard{
  /* margin-top: -250px; */
  /* border: 1px solid red; */
}

.conntectSuggest {
  /* border: 1px solid red; */
  width: 55%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  /* height: 58vh; */
  flex-direction: row;
  gap: 6px;
  /* margin-top: -10px; */
  /* flex: 1 1 50%; */
}
.onlineEventsContainer {
    border: 1px solid rgba(0,0,0,.2);
  width: 55%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  /* height: 58vh; */
  flex-direction: row;
  gap: 6px;
}
.TrendingPeopleContainer{
  
 
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 55%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.TrendingCareerContainer{
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 55%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

@media only screen and (max-width: 425px) {
  .container {
    margin-top: -20px;
    /* border: 1px solid red; */
    width: 95%;
    margin: 0 auto;
  }

  .conntectSuggest {
    width: 100%;
    height: auto;
  }
  .onlineEventsContainer {
    /* border: 1px solid black; */
    width: 98%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /* height: 58vh; */
    flex-direction: row;
    gap: 6px;
  }
  .TrendingPeopleContainer{
  
 
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .TrendingCareerContainer{
  
 
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
}
