.notiContainer{
    width: 70%;
    margin: 0 auto;
    /* border: 1px solid red; */
    position: relative;
}


.mutliplesBtn{
    display: flex;
    gap: 10px;
    justify-content: left;
    align-content: center;
    
    /* position: absolute; */
    width: 58%;
    height: 60px;
    margin: 10px auto;
    background-color: #fff;
    padding: 0 10px ;
    
    /* border: 1px solid red; */
}
.mutliplesBtn button{
    width: 70px;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    /* padding: 10px; */
}

.notifiCards{
    width: 98%;
    margin: 0 auto;
    /* position: relative; */
}
.notifiCards2{
    /* position: absolute; */
    margin-top: 18px;
}

@media only screen and (max-width:425px) {
    .notiContainer{
        width: 100%;
        /* border: 1px solid red; */
        position: relative;
    }
    
    
    .mutliplesBtn{
        display: flex;
        gap: 10px;
        justify-content: center;
        position: absolute;
        width: 96%;
        height: 50px;
        margin: 38px auto;
        
        /* border: 1px solid red; */
    }
    .mutliplesBtn button{
        width: 80px;
    }
    
    .notifiCards{
        width: 98%;
        margin: 0 auto;
        /* position: relative; */
    }
    .notifiCards2{
        /* position: absolute; */
        margin-top: 100px;
    }
}