.container{
    /* border: 1px solid red; */
    width: 94%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6px;
}
.imgDivText{
    display: flex;
    gap: 10px;
    align-items: center;

}
.imgDiv img{
    width: 100%;
    height: 60px;
}
.textDiv{
    height: 100px;
    width: 100%;
    line-height: 0.2;
    text-align: left;
}