.container {
  visibility: visible;
  background-color: #fff;
    box-shadow: 0 2px 3px rgba(0,0,0,.2);
    border:  0 2px 3px rgba(0,0,0,.2);
  margin-top:20px;
  width: 32%;
  margin-left: 8px;
  /* display: flex; */
  /* margin: 0 auto; */
  /* position: absolute; */
}
.container h4{
  text-align: left;
  width: 90%;
  margin: 17px auto;
  font-size: 12px;
}
.imgBtnDiv {
    /* border: 1px solid blue; */
    margin: -55px auto;
    width: 95%;
  display: flex;
  justify-content: space-between;
  /* padding: 20px; */
}
.imgDiv{
    /* position: relative; */
}
.BGProfile{
    /* position: absolute; */
    margin-top: 0px;
    height: 80px;
    width: 100%;
}
.imgDiv .profile {
  width: 95px;
  height: 95px;
  
}
.btnDiv {
  display: flex;
  margin-top: 40px;
  width: 16%;
  justify-content: right;
  padding: 20px;
}
.nameStackDiv{
    /* border: 1px solid black; */
    height: 120px;
    width: 100%;
    margin: 50px auto;
    line-height: -0.5;
    text-align: left;
    height: 130px;
    padding: 0 8px;
}
.nameStackDiv p{
  font-size: 14px;
}
.followedDiv{
    display: flex;
    align-items: center;
    gap: 10px;
}
.followedDiv p{
  font-size: 10px;
}
.followedImage{
    /* border: 1px solid red; */
    width: 10%;
    height: 27px;
    border-radius: 20px;
    align-items: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

@media only screen and (max-width:425px) {
  .container {
    visibility: visible;
      box-shadow: 0 2px 3px rgba(0,0,0,.2);
      border:  0 2px 3px rgba(0,0,0,.2);
    /* margin-top:0px; */
    margin: 0 auto;
    width: 95%;
    /* margin-left: 1px; */
    /* display: flex; */
    /* margin: 0 auto; */
    /* position: absolute; */
  }

  .followedImage{
    /* border: 1px solid red; */
    width: 8%;
    height: 30px;
    border-radius: 20px;
    align-items: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
}

